<div class="title">
  <h1><span class="white">PRIX DES TRANSPORTS</span> <span class="yellow">PAR VILLE</span></h1>
</div>
<div class="container">
  <div class="row">
    <% @destinations.each do |destination| %>
      <div class="col-sm-6 col-lg-4">
        <div class="card-trip">
          <img src="<%= destination.photo_link %>">
          <div class="card-trip-infos">
            <div>
              <h2><%= destination.destination_name %></h2>
              <p><%= destination.description %></p>
            </div>
            <div class="card-trip-pricing">
              <img src="/assets/ticket.png" width="20" height="10"/>
              <h3><%= destination.transport_price %></h3>
            </div>
            <img src="<%= destination.flag_link %>" class="card-trip-user avatar-bordered"/>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
